.hotels-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .hotel-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .hotel-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .hotel-name {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .hotel-location {
    color: #666;
    margin-top: 5px;
  }
  
  .hotel-description {
    margin: 10px 0;
  }

  .hotel-price {
    font-weight: bold;
  }
  
  .book-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .book-button:hover {
    background-color: #0056b3;
  }
  
  .close-popup-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-popup-button:hover {
    background-color: #999;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(81 81 81 / 50%);;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.booking-modal {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .booking-modal h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .booking-modal label {
    display: block;
    margin-top: 10px;
  }
  .booking-modal input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
.submit-button, .close-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .submit-button:hover, .close-button:hover {
    background-color: #0056b3;
  }

  .success_message {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .destinationsearch{

      text-align: center;
      font-family: emoji;
      
      font-size: 34px;

  }
  .destination_nearby{
    text-align: center;
    margin-bottom: 43px;
    margin-top: 37px;
  }
  .destination_input{
    width: 17%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 22px;
  }
  .destination_btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .destination_btn:hover {
    background-color: #0056b3;
  }
.check_btn_availability{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.hotel-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

