/* src/AdminDestination.css */
.admin-destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .admin-destination-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:400px
  }
  form-group {
    margin-bottom: 20px;
  }
  
  .admin_form_label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .admin_form_input {
    width: 91%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 9px;
  }

  .admin_form_textarea {
    width: 94%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 9px;
  }
  
  .form-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }